body {
  padding-top: 32px;
  font-family: "Segoe UI", sans-serif;
  color: var(--primary-text-color);
  --primary-color: #ff0000;
  --primary-text-color: #222;
}

#container {
  /*
    border: 1px solid black;
    */
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-left: 29px;
  position: relative;
}

.subtext {
  display: block;
  text-align: right;
  font-weight: bold;
  padding-top: 16px;
  padding-right: 60px;
  font-size: 24px;
  margin-bottom: 48px;
  position: relative;
}

section {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}

article {
  display: inline-block;
  width: 40%;
  font-size: 12pt;
}

article.left {
  margin-left: 58px;
}

article.right {
  float: right;
  margin-right: 58px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

article div.head {
  color: var(--primary-text-color);
  font-weight: bold;
  text-align: center;
  padding: 4px;
  font-size: 16pt;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary-text-color);
}

span.letter,
span.letter.thin {
  color: white;
  width: 100px;
  height: 100px;
  line-height: 88px;
  -webkit-transform: skew(-30deg);
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  display: inline-block;
  margin-right: 16px;
  /*box-shadow: 4px 4px 4px rgba(80, 80, 80, 0.5);*/
}

span.letter.thin {
  width: 50px;
  margin-right: 24px;
}

span.letter.thinner {
  width: 25px;
}

.cube {
  position: absolute;
  top: 1px;
  right: 0;
  width: 100px;
  height: 100px;
}

.wideblock {
  font-weight: bold;
  width: 130px;
  display: inline-block;
  color: var(--primary-text-color);
  padding: 4px;
}

.spacer {
  margin-bottom: 16px;
}

.wideblock.full {
  width: 328px;
}

.wideblock.full.white {
  background: none;
  color: var(--primary-text-color);
  background-color: white;
  font-weight: normal;
  text-align: right;
  width: 326px;
  position: relative;
}

.wideblock + span {
  padding: 4px;
  width: 189px;
  display: inline-block;
  text-align: right;
}

div.details {
  margin-bottom: 16px;
}

article span {
  background-color: white;
}

div.photo {
  border-radius: 50px;
  height: 80px;
  width: 80px;
  background-image: url("photo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.wideblock.full.name {
  position: relative;
  height: 32px;
  line-height: 28px;
  font-size: 24px;
}

.role {
  text-align: right;
  font-weight: normal;
}

.name .photo {
  position: absolute;
  top: -28px;
  right: 11px;
  border: 2px solid var(--primary-text-color);
}

.icon {
  position: absolute;
  left: 4px;
  top: 6px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.phone {
  background-image: url("phone.png");
}

.icon.email {
  background-image: url("email.png");
}

.icon.linkedin {
  background-image: url("linkedin.png");
}

.icon.github {
  background-image: url("github.png");
}

ul.hardskills {
  list-style: none;
  padding: 0;
}

ul.hardskills li span.skillrating {
  position: absolute;
  top: 0;
  right: -2px;
  color: var(--primary-text-color);
  font-weight: bold;
  padding: 2px;
  width: 120px;
  text-align: right;
}

ul.hardskills li span.skillrating.medium {
  width: 100px;
  background-color: #555;
}

ul.hardskills li span.skillrating.medium-low {
  width: 80px;
  background-color: #777;
}

ul.hardskills li {
  margin-bottom: 1px;
  display: inline-block;
  position: relative;
  width: 98%;
  padding: 2px;
}

.schooling,
.experience {
  margin-top: 16px;
  margin-bottom: 16px;
}

.schooling span,
.experience span {
  display: block;
}

.schooling .title,
.experience .title {
  font-weight: bold;
}

.schooling .subtitle {
  font-style: italic;
  font-weight: bold;
}

.schooling .grade {
  font-style: italic;
}

ul.responsibilities {
  margin: 0;
}

/*ul.hardskills li span:first-child {
}

ul.hardskills li span {
    width: 50%;
    display: inline-block;
    position: relative;
}

ul.hardskills li span.skillrating {
    text-align: center;
    position: absolute;
    top: 0;
    right: 16px;
    background-color: var(--primary-text-color);
    color: white;
}*/
